@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
	/* https://coolors.co/f72585-7209b7-3a0ca3-4361ee-4cc9f0 */
	--color-1: rgb(247, 37, 133);
	--color-2: rgb(114, 9, 183);
	--color-3: rgb(58, 12, 163);
	--color-4: hsl(229, 80%, 55%);
	--color-5: rgb(76, 201, 240);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: "Nunito", sans-serif;
	color: #f8f9fa;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: hsla(276, 91%, 38%, 1);

	background: linear-gradient(
		315deg,
		var(--color-1) 10%,
		var(--color-2),
		var(--color-3),
		var(--color-4),
		var(--color-5)
	);

	background: -moz-linear-gradient(
		315deg,
		var(--color-1) 10%,
		var(--color-2),
		var(--color-3),
		var(--color-4),
		var(--color-5)
	);

	background: -webkit-linear-gradient(
		315deg,
		var(--color-4) -10%,
		var(--color-2) 35%,
		var(--color-3) 80%,
		var(--color-4) 110%
	);

	background-size: 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* LAYOUT */
.hidden {
	display: none;
}

main {
	display: flex;
	width: clamp(400px, 80%, 1024px);
	height: 80%;
	box-shadow: 0rem 2rem 2rem 0rem rgba(0, 0, 0, 0.25);
	border-radius: 16px;
	overflow: hidden;
	margin: 2.5%;
}

.player {
	display: flex;
	text-align: center;
	flex-direction: column;
	flex: 50%;
	padding: 2rem 0rem;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease;
}

/* ELEMENTS */
.player--info {
	position: relative;
	flex: 1;
	letter-spacing: 1px;
	font-size: 1.75rem;
}

.total {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.total-score {
	color: var(--color-5);
	font-size: clamp(1rem, 5vw, 2.5rem);
}

.total-label {
	font-size: clamp(1rem, 5vw, 1.5rem);
	color: var(--color-5);
}

.player--active {
	background-color: var(--color-4);
}

.player--winner .message {
	display: block;
	color: var(--color-5);
}

.current {
	background-color: var(--color-3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 1rem 1rem;
	border-radius: 16px;
}

.current-score {
	font-size: 1.5rem;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #f8f9fa;
	font-family: inherit;
	background-color: var(--color-2);
	padding: 0.75rem 1.5rem;
	border: 1px solid transparent;
	border-radius: 32px;
	cursor: pointer;
	transition: all 0.5s;
}

.btn:hover {
	background-color: var(--color-3);
	border: 1px solid #f8f9fa;
}

.btn:disabled {
	background-color: #8d99ae;
	cursor: not-allowed;
}

i {
	margin-right: 0.5rem;
}

.operations {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 4rem 0;
	width: inherit;
	height: inherit;
	z-index: 1;
}

.operations .btn {
	width: 100%;
}

.operations .btn:last-of-type {
	margin-top: 0.5rem;
}

.operations div {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.operations div:last-of-type {
	justify-content: end;
}

#die {
	height: clamp(40px, 12.5vw, 100px);
}

/* #die:hover {
	animation: tilt-shaking 0.25s ease-in;
} */

#die.animate {
	animation: tilt-shaking 0.25s ease-in;
}

@keyframes tilt-shaking {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(0eg);
	}
	75% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}


.btn--open-modal {
	position: absolute;
	top: 5%;
	width: 80%;
	text-align: left;
	background: none;
	border: none;
	color: inherit;
	font-family: inherit;
	cursor: pointer;
}

.modal {
	position: absolute;
	background-color: #f8f9fa;
	color: var(--color-3);
	width: 80%;
	height: 80%;
	padding: 2rem;
	border-radius: 16px;
	z-index: 100;
}

.modal-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}